<%= form_for(@farm) do |f| %>
  <% if @farm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@farm.errors.count, "error") %> prohibited this farm from being saved:</h2>

      <ul>
      <% @farm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :farmname, value="農場名" %><br>
    <%= f.text_field :farmname %>
  </div>
  <div class="field">
    <%= f.label :area, value="栽培面積" %><br>
    <%= f.text_field :area %><strong>ha</strong>
  </div>

  <div class="field">
    <%= f.label :mst_pref_id, value="都道府県名" %><br>
    <%= f.collection_select :mst_pref_id, @mst_prefs, :id, :name, include_blank: "選択する" %>
  </div>

  <div class="field">
    <%= f.label :city, value="市町村名" %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :crops, value="栽培品目" %></br>
    <%= collection_check_boxes(:farm, :crop_ids, Crop.all, :id, :name ) do |ff| %>
    <% ff.label{ ff.check_box + ff.text }%>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :crop_type, value="品種" %></br>
    <%= collection_check_boxes(:farm, :crop_type_ids, CropType.all, :id, :name ) do |ff| %>
    <% ff.label{ ff.check_box + ff.text }%>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :message, value="紹介文" %>
    <%= f.text_area :message, cols: 100, rows: 10 %>
  </div>

  <div class="actions">
    <%= f.submit value="保存する" %>
  </div>
<% end %>
