<p id="notice"><%= notice %></p>

<h1 class="list-title">農場一覧</h1>

<div class="farm-search">
  <%= search_form_for @q, url: farms_path  do |f|%>
    <ul>
      <li>
        <%= f.label :farmname_cont, '農場名で検索' %>
        <%= f.search_field :farmname_cont %>
      </li>
      <li>
        <%= f.label :mst_pref_id_eq, '所在地で検索' %>
        <%= f.collection_select :mst_pref_id_eq, @mst_prefs, :id, :name, :include_blank => '指定なし' %>
      </li>
      <li>
        <%= f.label :crops_id_in, '作物で検索' %>
        <%= f.collection_select :crops_id_in, @crops, :id, :name, :include_blank => '指定なし' %>
      </li>
      <li>
        <%= f.label :area_gteq, '耕地面積（最小）' %>
        <%= f.number_field :area_gteq %>      
      </li>
      <li>
        <%= f.label :area_lteq, '耕地面積（最大）' %>
        <%= f.number_field :area_lteq %>
      </li>
      <li>
        <%= f.submit '検索' %>
      </li>
    </ul>
  <% end %>
</div>

<hr>

<div class="column-main">
  <ul class="list-farm-info">
    <% @farms.each do |farm| %>
      <li class="list-farm">
        <div class="list-farm__wrap">
          <div class="list-farm__header">
            <%= link_to farm.farmname, farm %>
          </div>
          <div class="list-farm__body">
            <ul class="list-farm__info">
              <li class="list-farm__info-location">
                <span><%= farm.mst_pref.name %></span>
                <span><%= farm.city %></span>
              </li>
              <li class="list-farm__info-area">
                <span><%= farm.area %>ha</span>
              </li>
              <li class="list-farm__info-crop">
                <span>栽培品目</span>
                <span>
                  <% farm.crops.each do |crop| %>
                    <%= crop.name %>
                  <% end %>
                </span>
              </li>
            </ul>
            <div class="list-farm__info-message">
              <%= truncate(farm.message, length: 50, omission: "...") %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<br>

<%= link_to '新規作成', new_farm_path %>|
<%= link_to '戻る', :back %>
