<p id="notice"><%= notice %></p>

<h1 class="list-title">農場一覧</h1>

<div class="farm-search">
  <%= form_tag(farms_path, method: "get") do %>
    <%= label_tag :mst_pref_id, "都道府県" %>
    <%= select_tag :mst_pref_id, options_from_collection_for_select(@mst_prefs, :id, :name), include_blank: '選択する' %>
    <%= label_tag :id, "栽培品目" %>
    <%= select_tag :id , options_from_collection_for_select(@crops, :id, :name), include_blank: '選択する' %>
  <%= submit_tag "検索" %>
  <% end %>
</div>

<div class="column-main">
  <ul class="list-farm-info">
    <% @farms.each do |farm| %>
      <li class="list-farm">
        <div class="list-farm__wrap">
          <div class="list-farm__header">
            <%= link_to farm.farmname, farm %>
          </div>
          <div class="list-farm__body">
            <ul class="list-farm__info">
              <li class="list-farm__info-location">
                <span><%= farm.mst_pref.name %></span>
                <span><%= farm.city %></span>
              </li>
              <li class="list-farm__info-area">
                <span><%= farm.area %>ha</span>
              </li>
              <li class="list-farm__info-crop">
                <span>栽培品目</span>
                <span>
                  <% farm.crops.each do |crop| %>
                    <%= crop.name %>
                  <% end %>
                </span>
              </li>
            </ul>
            <div class="list-farm__info-message">
              <%= truncate(farm.message, length: 50, omission: "...") %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<br>

<%= link_to '新規作成', new_farm_path %>
