<p id="notice"><%= notice %></p>

<h2>
  <%= @farm.farmname %>
</h2>

<p>
  <strong>栽培面積：</strong>
  <%= @farm.area %>
</p>

<p>
  <strong>生産地域：</strong>
  <%= @farm.mst_pref.name %><%= @farm.city %>
</p>

<p>
	<strong>栽培品目：</strong>
	<% @farm.crops.each do |crop| %>
	<%= crop.name %>
	<% end %>
</p>

<p>
	<strong>品種：</strong>
	<% @farm.crop_types.each do |type| %>
	<%= type.name %>
	<% end %>
</p>


<p>
	<strong>農場から：</strong>
	<%= @farm.message %>
</p>


<%= link_to '編集', edit_farm_path(@farm) %> |
<%= link_to '戻る', farms_path %>
