<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @note.title %>
</p>

<p>
  <strong>栽培品目</strong>
  <% @note.crops.each do |crop| %>
    <%= crop.name %>
  <% end %>
</p>

<p>
  <strong>品種</strong>
  <% @note.crop_types.each do |type| %>
    <%= type.name %>
  <% end %>
</p>

<p>
  <%= @note.content %>
</p>



<%= link_to '記録帳を編集', edit_note_path(@note) %> |
<%= link_to '戻る', notes_path %>
