<h1><%= @crop.name %>を栽培している農家</h1>

<ul>
  <li>
    <%= form_tag(crop_path, method: 'get') do %>
      <%= label_tag :crop_type_id, "品種で絞り込み" %>
      <%= select_tag :crop_type_id, options_from_collection_for_select(@crop_types, :id, :name), include_blank: '選択する' %>
      <%= submit_tag '検索' %>
    <% end %>
  </li>
  <li>
    <%= form_tag(crop_path, method: 'get') do %>
      <%= label_tag :mst_pref_id, "所在地で絞り込み" %>
      <%= select_tag :mst_pref_id, options_from_collection_for_select(@mst_prefs, :id, :name), include_blank: '選択する' %>
      <%= submit_tag '検索' %>
    <% end %>
  </li>
  <li>
    <%= form_tag(crop_path, method: 'get') do %>
      <%= label_tag :area, "耕地面積で絞り込み" %>
      <%= select_tag :min_area, options_for_select('下限なし' => 0, '5ha' => 5, '10ha' => 10, '50ha' => 50) %>以上
      <%= select_tag :max_area, options_for_select({'5ha' => 5, '10ha' => 10, '50ha' => 50, '上限なし' => 100000}, 100000) %>以下
      <%= submit_tag '検索' %> 
    <% end %>  
  </li>
</ul>


<div class="column-main">
  <ul class="list-farm-info">
    <% @farms.each do |farm| %>
      <li class="list-farm">
        <div class="list-farm__wrap">
          <div class="list-farm__header">
            <%= link_to farm.farmname, farm %>
          </div>
          <div class="list-farm__body">
            <ul class="list-farm__info">
              <li class="list-farm__info-location">
                <span><%= farm.mst_pref.name %></span>
                <span><%= farm.city %></span>
              </li>
              <li class="list-farm__info-area">
                <span><%= farm.area %>ha</span>
              </li>
              <li class="list-farm__info-crop">
                <span>栽培品目</span>
                <span>
                  <% farm.crops.each do |crop| %>
                    <%= crop.name %>
                  <% end %>
                </span>
              </li>
              <li>
                <% if farm.crop_types.present? %>
                  <span>品種</span>
                  <% farm.crop_types.each do |type| %>
                  <%= type.name %>
                  <% end %>
                <% end %>
              </li>  
            </ul>
            <div class="list-farm__info-message">
              <%= truncate(farm.message, length: 50, omission: "...") %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

